<div>
      <div><%= link_to "Home", root_path %></div>
      <div><%= link_to "Blog", blogs_path %></div>
      <div><%= link_to "Projects", portfolio_resources_path %></div>
      <div><%= link_to "About me", about_path %></div>
      <div><%= link_to "Contacts", contacts_path %></div>
</div>